*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6a5be2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: baseline;
}

.App {
  width: 500px;
  border-radius: 30px;
  padding: 40px;
  background-color: #fff;
  position: relative;
}

.App .result {
  text-align: center;
}

.App .result button {
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  border-radius: 30px;
  border: 0;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #f00068; /* Результат darken(#ff006e, 3%) */
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

.App .result h2 {
  margin-bottom: 0;
}

.App .result img {
  width: 150px;
}

.App .progress {
  height: 10px;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
  margin-bottom: 25px;
}

.App .progress__inner {
  height: 100%;
  border-radius: 30px;
  width: 80%;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

/* Нижние подложки карточки */
.App::before,
.App::after {
  content: '';
  display: block;
  height: 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.App::before {
  width: 95%;
  bottom: -10px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1; /* Отрицательный z-index, чтобы не перекрывать текст */
}

.App::after {
  width: 90%;
  bottom: -20px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -2;
}

.App h1 {
  margin: 0;
}

.App ul {
  list-style: none;
  padding: 0;
}

.App ul li {
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.App ul li:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}


@media (max-width: 1200px) {
  .container{
    width: 900px;
  }
}


@media (max-width: 992px) {
  .container{
    width: 700px;
  }
}

@media (max-width: 768px) {
  .container{
    width: 500px;
  }
}


@media (max-width: 576px) {
  .container{
    width: 100%;
  }


}

@media (max-width: 375px) {
  .container{
    width: 100%;
  }

    .App {
    width: 360px;
    padding: 40px;
}
}